<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
  </head>
  <body>
      <div ng-controller="Ctrl">
        <input ng-model="name">
        <h1>Hello {{name}}!</h1>
        <h2>{{age}}</h2>
      </div>

      <div ng-controller="OtherCtrl">
        <input ng-model="name">
        <h1>Hello {{name}}!</h1>
        <h2>{{age * 2}}</h2>
      </div>

      <div>
        <label>Name: </label><input type="text" ng-model="person">
      </div>

      <div>
        <input type="checkbox" ng-model="checked"><label>Hide?</label>
      </div>

      <div>
        <input type="checkbox" ng-model="checkedShow"><label>Show?</label>
      </div>

      <div ng-show="checkedShow">
        Show up, {{perso || "No one"}}!
      </div>

      <div ng-hide="checked">
        Hello, {{person || "No one"}}!
      </div>

      <script>
        var Ctrl =  function($scope){
          $scope.name;
          $scope.age = 23;
        };
      </script>

      <script>
        var OtherCtrl =  function($scope){
          $scope.name;
          $scope.age = 20;
        };
      </script>

  </body>
  
</html>